body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.eventID {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

.eventName {
  margin-top: 5px;
}

.eventName,
.eventTime,
.dash,
.eventLocation{
  font-size: 18px;
}

.eventTime {
  color: #a2a2a2;
}

.eventPhoto img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
}

.eventStatus {
  font-size: 14px;
  background-color: #2667d5;
  color: white;
  font-weight: 600;  
  padding: 8px 22px 8px 22px;
  border-radius: 10px;
  margin: auto;
  float: right;
}

.detectionTable {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}